:root {
    --primary-color: #172f57;
    --secondary-color: #F4A261;
    --accent1-color: #095859;
    --accent2-color: #EAA368;
    --text-color: #FFF;
    --body-text-color: #000;
    --border: 1px solid #808080;
    --border-bottom: 1px solid #ccc;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--body-text-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: var(--border-bottom);
    max-width: 1000px;
    background-color: var(--primary-color);
}

header img {
    background: transparent;
    grid-column: 1/3;
}

nav ul {

    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0;
    padding: 0;

}

nav li {
    flex: 1 1 auto;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
}

nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(23, 47, 87, 0.7);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h2 {
    width: 100%;
    height: auto;
    padding: 16px;
    text-align: center;
    background-color: rgba(23, 47, 87, 0.7);
    background-color: var(--primary-color);
    color: var(--text-color);

}

p {
    font-family: 'Times New Roman', Times, serif;
}

article {
    position: absolute;
    top: 330px;
    width: 95%;
    padding: 10px;
    text-align: center;
    background-color: rgba(23, 47, 87, 0.7);
    background-color: var(--primary-color);
    color: var(--text-color);
}

form {
    width: 350px;

    padding: 0;
    border: none;

    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: 75px 1fr;
    /* gap: 0.5rem; */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem;

    font-size: 1rem;
    border: var(--border);
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

label,
.purpose-label,
.newsletter {
    align-self: start;
    font-size: 1.1rem;
}

button {
    grid-column: 1/3;
    padding: 0.75rem;
    border: var(--border);

    background-color: var(--primary-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-decoration: underline;

    cursor: pointer;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

footer p {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;

    padding: 1rem 2rem;

    background-color: var(--primary-color);
}

/* Class Selectors */

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
    margin-top: 1rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;

    bottom: 60px;
    left: 50%;

    transform: translateX(-50%);

    width: 90%;
    max-width: 1100px;
    height: 25%;

    padding: 0.25rem;

    border-radius: 10px;

}

.hero article p {
    position: absolute;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

    text-align: left;
    margin: 0;
    padding-right: 1rem;

    max-width: 75%;
}

.hero article img {
    float: right;

    width: 140px;
    margin: 0.5rem;
    height: auto;
    border: 2px solid var(--accent2-color);
    box-shadow: var(--secondary-color);
}

.history {
    margin-top: 1rem;
    padding: 1.5rem;

    border: var(--border);
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1rem;
}

.history h2 {
    grid-column: 1/4;

    text-align: center;
    margin-bottom: 1rem;
}

.history img {
    width: 200px;
    justify-self: center;
}

.adventure {
    margin-top: 1rem;
    padding: 1.5rem;

    border: var(--border);
}

.adventure h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-images {
    margin-top: 1rem;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-images figure {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.adventure-images img {
    width: 120px;
}

.employees {
    width: 100%;
    margin: 2rem auto;
    padding: 1.5rem;

    border: var(--border);
    text-align: center;
}

.employees h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.employee-images {
    margin-top: 1rem;
    padding: 1.5rem;

    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.employee-images figure {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.employee-images img {
    width: 120px;
    border: 1px solid var(--secondary-color);
}

.contact {
    width: 700px;
    margin: 2rem auto;

    display: flex;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
}

.radio-button {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.radio-button label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.company-info h1 {
    text-align: center;

    margin-bottom: 1rem;
    position: static;
}

.company-info p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.map {
    width: 450px;
}

.map iframe {
    width: 100%;
    height: 325px;
    border: var(--border)
}

.newsletter {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    width: 100%;

    gap: 1rem;

}

.newsletter label {
    /* width: 100%; */
    flex: 1;

    /* grid-column: 1 / 3; */
}

.message-box {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}