* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #247;
    background: #ffe;
}

header {
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: #287;
    text-align: center;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5%;

    background: gainsboro;

    display: grid;
}

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #287;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #247;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #287;
    color: #fff;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #247;
    border-top: 1px solid gainsboro;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
}