:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
    --background-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

h1 {
    color: darkblue;
    border-bottom: var(--border)
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    margin: 1rem;
    grid-column: 2/3;
    /* max-width: 840px; */
}

aside {
    max-width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 95px;
    color: darkblue;
}

p {
    margin: 1rem;
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: black;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}